﻿@model IEnumerable<Gapura.Models.Supplier>

@{
    ViewBag.Title = "Supplier List ";
}

<div class="row-fluid sortable">
    <div class="box span12" style="margin-left: 0px">
        <div class="box-header" data-original-title>
            <h2><i class="icon-table"></i><span
                class="break"></span>Master Data Supplier</h2>
            <div class="box-icon">
                <a href="@Url.Action("Create", "Suppliers")">
                    <i class="halflings-icon plus"></i><span class="hidden-tablet"></span>
                    Add New Supplier
                </a>
            </div>
        </div>
        <div class="box-content">
            <div style="width: inherit; margin-left: 24px;">
                <table id="myTable" class="compact stripe hover order-column responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SupplierCode)
                            </th>
                            <th>Category Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Region)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CellPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Npwp)
                            </th>
                            <th>Terms Day
                            </th>
                            <th>-
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            @section Scripts{
                @Scripts.Render("~/bundles/dataTables")
                <script src="~/Scripts/Suppliers/IndexSuppliers.js"></script>
            }
        </div>
    </div>
</div>

<style>
    th {
        background-color: #cdcdcd !important;
        border: dotted 1px;
    }
    td {
        border: dotted 1px;
    }
</style>

@Styles.Render("~/Content/dataTables")