﻿@model Gapura.Models.Supplier

@{
    ViewBag.Title = "Create Supplier";
}

<div class="row-fluid sortable">
    <div class="box span12" style="margin-left: 0px">
        <div class="box-header" data-original-title>
            <h2><i class="icon-pencil"></i><span
                class="break"></span>Create Supplier</h2>
            <div class="box-icon">
                @*<a href="~/Products/Index" class="btn-setting"><i class="halflings-icon wrench"></i></a>*@
                <a href="@Url.Action("Index", "Suppliers")" 
                    title="Return to Index List" >
                    <i class="halflings-icon chevron-up"></i><span class="hidden-tablet"></span>
                </a>
                <a href="~/Home/Index" class="btn-close"
                    title="Return to Homepage">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>
        </div>
        <div class="box-content">

            @using (Html.BeginForm("Create", "Suppliers", FormMethod.Post, new
        {
            @class = "form-horizontal"
        }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend></legend>

                    <div class="editor-label">
                        @Html.Label("SupplierCode", "Supplier Code", new { @class = "control-label" })

                        @Html.EditorFor(model => model.SupplierCode)
                        @Html.ValidationMessageFor(model => model.SupplierCode)
                    </div>

                    <div class="editor-label">
                        @Html.Label("CategoryID", "Category", new { @class = "control-label" })

                        @Html.DropDownList("CategoryID", String.Empty)
                        @Html.ValidationMessageFor(model => model.CategoryID)
                    </div>

                    <div class="editor-label">
                        @Html.Label("CompanyName", "Company Name", new { @class = "control-label" })

                        @Html.EditorFor(model => model.CompanyName)
                        @Html.ValidationMessageFor(model => model.CompanyName)
                    </div>

                    <div class="editor-label">
                        @Html.Label("Address", "Address", new { @class = "control-label" })

                        @Html.TextAreaFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>

                    <div class="editor-label">
                        @Html.Label("City", "City", new { @class = "control-label" })

                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>

                    <div class="editor-label">
                        @Html.Label("Region", "Region", new { @class = "control-label" })

                        @Html.EditorFor(model => model.Region)
                        @Html.ValidationMessageFor(model => model.Region)
                    </div>

                    <div class="editor-label">
                        @Html.Label("ContactName", "Contact Name", new { @class = "control-label" })

                        @Html.EditorFor(model => model.ContactName)
                        @Html.ValidationMessageFor(model => model.ContactName)
                    </div>

                    <div class="editor-label">
                        @Html.Label("Phone", "Phone", new { @class = "control-label" })

                        @Html.EditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>

                    <div class="editor-label">
                        @Html.Label("CellPhone", "CellPhone", new { @class = "control-label" })

                        @Html.EditorFor(model => model.CellPhone)
                        @Html.ValidationMessageFor(model => model.CellPhone)
                    </div>

                    <div class="editor-label">
                        @Html.Label("Npwp", "NPWP", new { @class = "control-label" })

                        @Html.EditorFor(model => model.Npwp)
                        @Html.ValidationMessageFor(model => model.Npwp)
                    </div>

                    <div class="editor-label">
                        @Html.Label("TermOfPayment", "Term Of Payment", new { @class = "control-label" })

                        @Html.DropDownList("TermID", String.Empty)
                        @Html.ValidationMessageFor(model => model.TermID)
                    </div>

                    <div class="form-actions">
                        <a class="btn btn-success" href="#" onclick="$('form').submit();">Save</a>
                        <input type="reset" value="Reset" class="btn" />
                        <a href="@Url.Action("Index")" class="btn btn-info">Cancel</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    div.editor-label {
        margin-bottom: 14px !important;
    }
</style>